@charset "utf-8";
/* CSS Document */

body {
	background: #171717;
	background-image: url(https://images.pexels.com/photos/1670977/pexels-photo-1670977.jpeg);
	background-position: center;
	background-size: cover;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#header {
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 20px;
	background: #232323c2;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	backdrop-filter: blur(5px);
}

#menu {
	width: 80%;
	height: auto;
	background: #008CBAc2;
	backdrop-filter: blur(5px);
	margin: 0 auto;
	overflow: hidden;
}

#main {
	width: 80%;
	height: 550px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	border: 1px solid #ffffff;
	border-style: hidden;
	text-align: center;
}

#col1 {
	width: 20%;
	height: 550px;
	background: #8800c7c2;
	backdrop-filter: blur(5px);
	background-position: left;
	float: left;
	text-align: center;
	border-bottom-left-radius: 20px;
}

#col2 {
	width: 60%;
	height: 550px;
	float: inherit;
	background: #003084c2;
	backdrop-filter: blur(5px);
}

#col3 {
	color: #fff;
    width: 20%;
	height: 550px;
	background: #8800c7c2;
	backdrop-filter: blur(5px);
	background-position: right;
	float: right;
	border-bottom-right-radius: 20px;
}

#score{
	margin : 0 0 0 500px;
	font-size: 25px;
}

#foot {
	background: #232323c2;
	backdrop-filter: blur(5px);
	width: 80%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
	border-radius: 20px;
}

.btn {
	background-color: transparent;
    border: none;
	border-radius: 20px;
	margin: 10px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: black;
    color: #008CBA;
}
